name: Hprofile Actions
on: workflow_dispatch
jobs:
  Testing:
    runs-on: ubuntu-latest
    steps:
      - name: Code Checkout
        uses: actions/checkout@v4

      - name: Maven Testing
        run: mvn test
        
      - name: Checkstyle
        run: mvn org.apache.maven.plugins:maven-checkstyle-plugin:check